<h2>Teacher Panel</h2>

<form method="POST" action="/create_test">
<input name="title" placeholder="Test Name">
<input name="time" placeholder="Time in seconds">
<button>Create Test</button>
</form>

<hr>

{% for test in tests %}
<h3>{{ test.title }}</h3>

<form method="POST" action="/add_question/{{ test.id }}">
<input name="question" placeholder="Question">
<input name="o1" placeholder="Option 1">
<input name="o2" placeholder="Option 2">
<input name="o3" placeholder="Option 3">
<input name="o4" placeholder="Option 4">
<input name="answer" placeholder="Correct Answer">
<button>Add Question</button>
</form>

{% endfor %}